@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 24 100% 5%;

    --card: 0 0% 100%;
    --card-foreground: 24 100% 5%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 24 100% 5%;
 
    --primary: 28 100% 45%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 28 30% 95%;
    --secondary-foreground: 28 50% 30%;
 
    --muted: 28 30% 95%;
    --muted-foreground: 28 30% 40%;
 
    --accent: 28 100% 45%;
    --accent-foreground: 0 0% 100%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 28 30% 90%;
    --input: 28 30% 90%;
    --ring: 28 100% 45%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 24 100% 5%;
    --foreground: 0 0% 100%;
 
    --card: 24 50% 10%;
    --card-foreground: 0 0% 100%;
 
    --popover: 24 50% 10%;
    --popover-foreground: 0 0% 100%;
 
    --primary: 28 100% 45%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 24 50% 15%;
    --secondary-foreground: 0 0% 100%;
 
    --muted: 24 50% 15%;
    --muted-foreground: 28 30% 70%;
 
    --accent: 28 100% 45%;
    --accent-foreground: 0 0% 100%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
 
    --border: 24 50% 15%;
    --input: 24 50% 15%;
    --ring: 28 100% 45%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}